{{ define "title" }}User Info - Nonstick IdP{{end}}
{{ template "preamble.tmpl" . }}
<h1>User info</h1>
<div>
  <p><a href="/logout/{{.User.Provider}}">Log out</a></p>
  <div style="text-align: left;">
    <pre>Name: {{.User.Name}} [{{.User.LastName}}, {{.User.FirstName}}]</pre>
    <pre>Email: {{.User.Email}}</pre>
    <pre>NickName: {{.User.NickName}}</pre>
    <pre>Location: {{.User.Location}}</pre>
    <pre>AvatarURL: {{.User.AvatarURL}} <img src="{{.User.AvatarURL}}"></pre>
    <pre>Description: {{.User.Description}}</pre>
    <pre>UserID: {{.User.UserID}}</pre>
    <pre>AccessToken: {{.User.AccessToken}}</pre>
    <pre>ExpiresAt: {{.User.ExpiresAt}}</pre>
    <pre>RefreshToken: {{.User.RefreshToken}}</pre>
  </div>
</div>
{{ template "epilogue.tmpl" . }}
